--
-- PostgreSQL database dump
--

\restrict ILlr8pbuVgtH8qMTP0fCdtkeomWuYloWmHbcOUT4pgKGGOivUkMmf1AzHYqeXiq

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: document_tags; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.document_tags (
    id integer NOT NULL,
    tag_name character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    document_name character varying
);


ALTER TABLE public.document_tags OWNER TO postgres;

--
-- Name: document_tags_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.document_tags_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.document_tags_id_seq OWNER TO postgres;

--
-- Name: document_tags_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.document_tags_id_seq OWNED BY public.document_tags.id;


--
-- Name: global_documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.global_documents (
    id integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    document_name text,
    document_description text
);


ALTER TABLE public.global_documents OWNER TO postgres;

--
-- Name: global_documents_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.global_documents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.global_documents_id_seq OWNER TO postgres;

--
-- Name: global_documents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.global_documents_id_seq OWNED BY public.global_documents.id;


--
-- Name: global_tags; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.global_tags (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    type text,
    columns character varying
);


ALTER TABLE public.global_tags OWNER TO postgres;

--
-- Name: global_tags_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.global_tags_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.global_tags_id_seq OWNER TO postgres;

--
-- Name: global_tags_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.global_tags_id_seq OWNED BY public.global_tags.id;


--
-- Name: project_documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_documents (
    id integer NOT NULL,
    project_name text NOT NULL,
    document_name text CONSTRAINT project_documents_document_id_not_null NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.project_documents OWNER TO postgres;

--
-- Name: project_documents_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.project_documents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.project_documents_id_seq OWNER TO postgres;

--
-- Name: project_documents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.project_documents_id_seq OWNED BY public.project_documents.id;


--
-- Name: project_tags; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_tags (
    id integer NOT NULL,
    tag_name character varying,
    tag_value character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    project_name text NOT NULL
);


ALTER TABLE public.project_tags OWNER TO postgres;

--
-- Name: project_tags_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.project_tags_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.project_tags_id_seq OWNER TO postgres;

--
-- Name: project_tags_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.project_tags_id_seq OWNED BY public.project_tags.id;


--
-- Name: projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projects (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.projects OWNER TO postgres;

--
-- Name: projects_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.projects_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.projects_id_seq OWNER TO postgres;

--
-- Name: projects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.projects_id_seq OWNED BY public.projects.id;


--
-- Name: document_tags id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_tags ALTER COLUMN id SET DEFAULT nextval('public.document_tags_id_seq'::regclass);


--
-- Name: global_documents id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.global_documents ALTER COLUMN id SET DEFAULT nextval('public.global_documents_id_seq'::regclass);


--
-- Name: global_tags id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.global_tags ALTER COLUMN id SET DEFAULT nextval('public.global_tags_id_seq'::regclass);


--
-- Name: project_documents id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_documents ALTER COLUMN id SET DEFAULT nextval('public.project_documents_id_seq'::regclass);


--
-- Name: project_tags id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_tags ALTER COLUMN id SET DEFAULT nextval('public.project_tags_id_seq'::regclass);


--
-- Name: projects id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects ALTER COLUMN id SET DEFAULT nextval('public.projects_id_seq'::regclass);


--
-- Data for Name: document_tags; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: global_documents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.global_documents (id, created_at, document_name, document_description) FROM stdin;
1	2025-12-25 08:20:48.007248	Test Plan	Plan for testing the project
2	2025-12-25 08:21:56.474978	Test Cases	Test cases for testing the project
3	2025-12-25 08:23:12.6734	Test Case Execution	Execution of test cases for testing the project
4	2025-12-25 08:24:18.486196	Test Results	Test results for test cases for testing the project
5	2025-12-25 08:25:24.755736	Test Completion	Test completion f for testing the project
\.


--
-- Data for Name: global_tags; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: project_documents; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: project_tags; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: document_tags_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.document_tags_id_seq', 29, true);


--
-- Name: global_documents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.global_documents_id_seq', 5, true);


--
-- Name: global_tags_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.global_tags_id_seq', 15, true);


--
-- Name: project_documents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.project_documents_id_seq', 30, true);


--
-- Name: project_tags_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.project_tags_id_seq', 24, true);


--
-- Name: projects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.projects_id_seq', 6, true);


--
-- Name: document_tags document_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_tags
    ADD CONSTRAINT document_tags_pkey PRIMARY KEY (id);


--
-- Name: global_documents global_documents_documnet_description_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.global_documents
    ADD CONSTRAINT global_documents_documnet_description_key UNIQUE (document_description);


--
-- Name: global_documents global_documents_documnet_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.global_documents
    ADD CONSTRAINT global_documents_documnet_id_key UNIQUE (document_name);


--
-- Name: global_documents global_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.global_documents
    ADD CONSTRAINT global_documents_pkey PRIMARY KEY (id);


--
-- Name: global_tags global_tags_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.global_tags
    ADD CONSTRAINT global_tags_name_key UNIQUE (name);


--
-- Name: global_tags global_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.global_tags
    ADD CONSTRAINT global_tags_pkey PRIMARY KEY (id);


--
-- Name: project_documents project_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_documents
    ADD CONSTRAINT project_documents_pkey PRIMARY KEY (id);


--
-- Name: project_tags project_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_tags
    ADD CONSTRAINT project_tags_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: project_documents uniq_project_document_id; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_documents
    ADD CONSTRAINT uniq_project_document_id UNIQUE (project_name, document_name);


--
-- Name: idx_project_documents_project_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_project_documents_project_name ON public.project_documents USING btree (project_name);


--
-- Name: idx_project_tags_project_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_project_tags_project_name ON public.project_tags USING btree (project_name);


--
-- Name: idx_project_tags_project_name_tag_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_project_tags_project_name_tag_name ON public.project_tags USING btree (project_name, tag_name);


--
-- PostgreSQL database dump complete
--

\unrestrict ILlr8pbuVgtH8qMTP0fCdtkeomWuYloWmHbcOUT4pgKGGOivUkMmf1AzHYqeXiq

